@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  top: 0;
  left: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0 !important;
}

body {
  font-family: "Rubik", sans-serif;
}

:root {
  --clr-firefly: #112b3c;
  --clr-chatams: #205375;
  --clr-pumpkin: #f66b0e;
  --clr-soft-peace: #efefef;
}

.bg-firefly {
  background-color: var(--clr-firefly);
}

.btn-orange {
  background-color: var(--clr-pumpkin);
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--clr-pumpkin);
  transition: all 80ms ease-in-out;
  touch-action: manipulation;
}

.btn-orange:focus {
  outline: 0;
}

.btn-orange:active {
  background-color: var(--clr-pumpkin);
  border-color: var(--clr-pumpkin);
}
.btn-orange:hover {
  background-color: #e46e1f;
}

.btn-abu {
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border-right-color: var(--clr-soft-peace);
  border: 1px solid var(--clr-soft-peace);
}

.fw-600 {
  font-weight: 600;
}

.shadow-card {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 16px;
  background: linear-gradient(45deg, #ff720f, #dd600d);
  transition: all 0.2s ease;
  cursor: pointer;
}

.shadow-card:hover {
  transform: scale(1.025);
}
span > a {
  text-decoration: none;
  color: var(--clr-pumpkin);
}

<<<<<<< HEAD
.each-fade img{
  height: 500px;
  border-radius: 10px;
  width: 100%
}

=======
.home-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  height: 100%;
  width: 100%;
}
.home-inner {
  flex: none;
  display: flex;
  scroll-snap-align: center;
  height: 100vh;
  width: 100vw;
}
.to-guide {
  max-width: 100%;
}
>>>>>>> parent of 512c825 (Merge branch 'main' into development)
